@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 55% 92%;
    --foreground: 36 88% 10%;
    --card: 28 55% 95%;
    --card-foreground: 36 88% 10%;
    --popover: 28 55% 95%;
    --popover-foreground: 36 88% 10%;
    --primary: 33 96% 44%;
    --primary-foreground: 33 20% 98%;
    --secondary: 33 20% 85%;
    --secondary-foreground: 33 96% 20%;
    --muted: 33 20% 88%;
    --muted-foreground: 33 20% 40%;
    --accent: 36 88% 24%;
    --accent-foreground: 36 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 20% 80%;
    --input: 33 20% 85%;
    --ring: 33 96% 44%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 36 88% 10%;
    --foreground: 28 55% 92%;
    --card: 36 88% 12%;
    --card-foreground: 28 55% 92%;
    --popover: 36 88% 10%;
    --popover-foreground: 28 55% 92%;
    --primary: 33 96% 44%;
    --primary-foreground: 33 20% 98%;
    --secondary: 36 88% 15%;
    --secondary-foreground: 28 55% 92%;
    --muted: 36 88% 15%;
    --muted-foreground: 28 55% 70%;
    --accent: 36 88% 44%;
    --accent-foreground: 33 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 88% 15%;
    --input: 36 88% 15%;
    --ring: 33 96% 44%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
